.grid-container {
    display: inline-grid;
    grid-template-columns: 300px 250px 100px 300px;
    grid-template-rows: 100px 200px 250px;
}

.grid-item {
    border: 2px solid black;
}

.two {
    background-color: red;
}

.four {
    background-color: blue; 
}

.five {
    display: inline-grid;
    grid-template-columns: 100px 25px 75px 100px;
    grid-template-rows: 100px 20px 80px;
    border: 2px solid black;
}

.five-one {
    background-color: yellow;
}

.five-three {
    background-color: blue;
}

.five-six {
    background-color: yellow;
}

.five-eleven {
    background-color: red;
}

.five-nine {
    background-color: yellow;
}

.eight {
    display: inline-grid;
    grid-template-columns: 100px 100px 100px;
    border: 2px solid black;
}

.eight-three {
    background-color: yellow;
}

.nine {
    display: inline-grid;
    grid-template-columns: 100px 200px;
    border: 2px solid black;   
}

.nine-two {
    background-color: blue;
}

.ten {
    display: inline-grid;
    grid-template-columns: 100px 150px;
    grid-template-rows: 150px 100px;
    border: 2px solid black; 
}

.ten-two {
    background-color: yellow;
}

.eleven {
    background-color: red;
}

.twelve {
    display: inline-grid;
    grid-template-rows: 150px 100px;
    border: 2px solid black;
}

.twelve-two {
    background-color: yellow;
}

/*media queries -------------------------------*/


@media only screen and (max-width: 855px) {
    .grid-container {   
        grid-template-columns: 200px 350px 50px 200px;
        grid-template-rows: 200px 100px 250px;
    }
    
    .four {
       background-color: yellow; 
    }
    
    .eight-three {
        background-color: red;
    }
    
    .ten-four {
        background-color: red;
    }
}
    
@media only screen and (max-width: 600px) {
    .grid-container {   
        grid-template-columns: 100px 450px 50px;
        grid-template-rows: 50px 100px 250px;
    }
    
    .seven {
        background-color: yellow; 
    }  
}

@media only screen and (max-width: 400px) {
    .grid-container {   
        grid-template-columns: 100px 200px 100px;
        grid-template-rows: 100px 100px 50px 150px;
    }
    
    .eight {
        background-color: blue;
    }
    
    .one {
        background-color: yellow;
    }
    
    .nine-two {
        background-color: red;
    }
    
}


