.grid-container {
    display: inline-grid;
    grid-template-columns: 300px 250px 100px 300px;
    grid-template-rows: 100px 200px 250px;
}

.grid-item {
    border: 2px solid black;
}

.two {
    background-color: red;
}

.four {
    background-color: blue; 
}

.five {
    display: inline-grid;
    grid-template-columns: 100px 25px 75px 100px;
    grid-template-rows: 100px 20px 80px;
    border: 2px solid black;
}

.five-one {
    background-color: yellow;
}

.five-three {
    background-color: blue;
}

.five-six {
    background-color: yellow;
}

.five-eleven {
    background-color: red;
}


.eight {
    display: inline-grid;
    grid-template-columns: 100px 100px 100px;
    border: 2px solid black;
}

.eight-three {
    background-color: yellow;
}

.nine {
    display: inline-grid;
    grid-template-columns: 100px 200px;
    border: 2px solid black;   
}

.ten {
    display: inline-grid;
    grid-template-columns: 100px 150px;
    grid-template-rows: 150px 100px;
    border: 2px solid black; 
}

.eleven {
    background-color: red;
}

.twelve {
    display: inline-grid;
    grid-template-rows: 150px 100px;
    border: 2px solid black;
}